<header class="header">
  <div class="header-container">

    <div class="logo-box">
      <img src="./img/header/logo-img@1x.png" alt="avatar" width="80" height="80" loading="lazy">

      <svg class="jefferson" width="84" height="19">
        <use href="./img/icons/sprite.svg#icon-jefferson-logo"></use>
      </svg>

    </div>

    <button class="burger-menu-btn">
      <svg class="burger-icon" width="28" height="28">
        <use href="./img/icons/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>


    <button>
      <svg class="jefferson" width="84" height="19">
        <use href="./img/icons/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

  </div>
</header>