.header {
}

.header-container {
  display: flex;
  padding: 20px 0;
  width: 100%;
  background-color: transparent;
}

.logo-box {
  display: flex;
  flex-direction: row;
}

.jefferson {
  display: flex;
}

.logo-box-menu {
  display: flex;
  align-items: flex-start;
}
